
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700&subset=cyrillic);
*{
	margin: 0;
	padding: 0;
	outline: none;
}
@font-face{
	font-family: Montserrat, sans-serif
}
/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;
  text-transform: uppercase;
}*/
html {
	height: 100%;
	 scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: black;
    background-color: #ffffff;
    font-family: Montserrat,sans-serif;
    font-size: 1em;
    line-height: 135%;
	 overflow-anchor:auto;
	 scroll-behavior:smooth;
    float: left;
	 font-size-adjust:100%;
	-webkit-font-size-adjust:100%;
	-ms-font-size-adjust:100%;
	-webkit-text-size-adjust:none
}
a {
    color: white;
    text-decoration: none;
}   
a:hover {
    color: #218A1E;
}
a, a:hover {  
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    -ms-transition: all.6s ease;
    transition: all.6s ease;
}

.clear {
    clear: both;
}
img{
	max-width: 100%;
	height: auto;
	width: auto\9;
	-webkit-transition: all 7s ease-out;
    -moz-transition: all 7s ease-out;
    -o-transition: all 7s ease-out;
    -ms-transition: all 7s ease-out;
    transition: all 7s ease-out;
}
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
input,textarea{
	-webkit-appearance:none
}
.header{
	position: fixed;
	width: 100%;
	height:80px;
	top:0;
	left:0;
	z-index: 2;
	-webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.header:before{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 2;
	background-color: black;
	opacity: 0.1;
}
.header.affix {
  height: 80px;
  line-height: 100%;
  background: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.header_span{
	text-align: left;
}
/*АДАПТИВ*/
@media(min-width: 2001px){
.container{
	max-width: 60%;
	padding: 0% 20%;
}}
@media(min-width: 1500px) and (max-width: 2000px){
.container{
	max-width: 62%;
	padding: 0% 19%;
}}
@media(min-width: 1200px) and (max-width: 1499px){
.container{
	max-width: 76%;
	padding: 0% 12%;
}}
@media(min-width: 767px) and (max-width: 1199px){
.container{
	max-width: 86%;
	padding: 0% 7%;
}
.header_span{
	margin-left: 5%;
}
.header_logo>span{
	margin-left: 5%;
}
}

@media(max-width: 766px){
.container{
	max-width: 92%;
	padding: 0% 4%;;
}

.circle_box{
	height: 200px!important;
	width: 40%!important;
}
.skills_box{
	flex-wrap: wrap!important;
}
.header_logo{
	padding-left: 30%!important;
}
.content_progress{
	height: 600px!important;
}
.content_text h1{
	font-size: 2.25rem!important;
}
.adaptive_noadaptive{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.adaptive_block img{
	margin-left: 25px;
	margin-bottom: 25px;
}
.adaptive_block1 img{
	margin-left: 25px;
	margin-bottom: 25px;
}
.adaptive_block{
	display: flex;
	flex-direction: column;
	width: 80%!important;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 60px;
}
.adaptive_block1{
	display: flex;
	flex-direction: column;
	width: 80%!important;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.blockbox{
	flex-direction: column;
	flex-wrap:nowrap;
}
.technology_box{
	width:100%!important;
}
}

.header_body{
	position: relative;
	display: flex;
	justify-content: space-between;
	height:80px;
	align-items: center;
}
.header_logo{
	width:300px;
	position: relative;
	z-index: 3;
}
.header_span{
	font-size: 30px;
	font-weight: 500;
	width:200px;
	display: block;
	line-height: 1;
}
@media (max-width: 1000px) {
	.header_span{
		margin-left: -100px;
	}}

.header_logo img{
	max-width: 100%;
	display: block;
}
.header_burger{
	display:none;
}
.header_menu{
}
.header_list{
	display: flex;
	position: relative;
	z-index: 2;
}
.header_link{
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
}
.header_list li{
	list-style: none;
	margin-left: 20px;
}

@media(max-width: 767px){
	.header_burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
		margin-top: 10px;
	}
	.header_logo{
		width: 200px;
		padding-left: 10%
	}
	.header_span{
		overflow: visible;
		font-size: 20px;
		display: block;
		margin-top: 10px;
	}
	.header_burger span{
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;	
	}
	.header_burger:before,.header_burger:after{
		content: '';
		background-color: #fff; 
		position: absolute;
		width: 100%;
		height: 2px;
		left:0;
		transition: all 0.3s ease 0s;	
	}
	body.lock{overflow: hidden;}
	.header_link{
		font-size: 24px;
	}
	.header_burger:before{
		top:0;
	}
	.header_burger:after{
		bottom:0;
	}
	.header_burger.active:before{
		transform: rotate(45deg);
		top:9px;
	}
	.header_burger.active:after{
		transform: rotate(-45deg);
		bottom:9px;
	}
	.header_burger.active span{
		transform: scale(0);
	}
	.header_menu{
		position: fixed;
		top: 0;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #031603;
		padding: 70px 10px 0px 0px;
		top: -130%;
		transition: all 0.3s ease 0s;
		overflow: auto;	
	}
	.header_menu.active{
		top:0;
	}
	.header_body{
		height:50px;
	}
	.header_logo{
		flex:0 0 40px;
	}
	.header_list{
		display: block;
	}
	.header_list li{
		margin: 0px 0px 40px 0px
	}
	.header_list li:nth-child(1){
		margin-top: 80px;
	}
	.header{
		height:60px;
	}
	.header.affix{
		height: 60px;
	}
	.content{
		height:700px!important;
	}
	.blockbox_container{
		margin-top: 10px!important;
	}
	.blockbox{
	margin-top: 30px!important;
}	
	}
	

.content{
	width:100%;
	background-image: url(../img/background2.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	height:92vh;
	padding-top:100px;
	background-size: cover;
}
.content_text{
	padding-top: 175px;
	font-size:18px;
	line-height: 25px;
	color: white;
	align-items: center;
	margin:0 auto;
}
.content_text p{
	margin: 0px 0px 20px 0px;
}
/*Black box*/
.content_text h1{
	font-size: 3.5rem;
	text-align: center;
	color white;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 50px;
}
.content_text h2{
	margin:0 auto;
	font-size: 1.25rem;
	text-align: center;
	color:white;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: 1px;
	margin-top: 30px;
}
.content_text h2 span{
	color:#218A1E;
}
.order_btn{
	display: block;
	text-align: center;
	margin-top: 30px;
	background-color: rgba(3, 22, 3, 0.9);
	margin:0 auto;
	margin-top: 30px;
	border-radius: 15px;
	font-size: 1.3rem;
	text-transform: uppercase;
	text-align: center;
	width: 300px;
	padding: 15px 0px 15px 0px;
}
/*Анимация кнопки*/
.content_text a{
	-webkit-transition: all 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 400ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	text-decoration: none;
}
.order_btn{
	color: rgba(255, 255, 255, 0.9);
	box-shadow: rgba(33, 138, 30, 0.9) 0 0px 0px 1px inset;
}
.order_btn:hover{
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(33, 138, 30, 0.9) 0 0px 0px 40px inset;
}
/*Стрелочка*/
.arrow{
	text-align: center;
	color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  -webkit-animation: pulsate 2s linear infinite;
  animation: pulsate 2s linear infinite;
}
@-webkit-keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
@keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}

.arrow{
	display: block;
	margin-top: 260px;
}
.fa-angle-double-down{
	font-family: Fontawesome, sans-serif;
	font-size: 3rem;
	font-style: normal;
}
/*Текстовая часть страницы*/
.textbox_center{
	padding-top: 40px;
	/*background-image: url(../img/background1.jpg);*/
	background-color: #fafafa;
	margin-bottom: 100px;

}
.textbox_title{
	text-align: center;
}
.title1{
	position: relative;
    margin-bottom: 40px;
    border-bottom: 0px solid silver;
    padding-bottom: 15px;
    font-size: 32px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: top;
}
.title1:before{
	content: "";
    width: 260px;
    height: 4px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    margin-top: -1px;
    background-color: #218A1E;
    z-index: 1;
}
.textbox_title p{
	font-size: 1.2rem;
	font-weight: 400;
}
.adaptive_noadaptive{
	margin-top: 60px;
	margin-bottom: 40px; 
	display: inline-flex;
	justify-content: space-between;
}
.adaptive_block{
	display:inline-flex;
	width: 48%;
}
.adaptive_block1{
	display:inline-flex;
	width: 48%;
}
.adaptive_noadaptive_title{
	margin-left: 20px;
	display: block;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 1.3rem;
	letter-spacing:1px;
}
.adaptive_block img{
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-right: 10px;
}
.adaptive_block1 img{
	width: 50px;
	height: 100px;
	margin-top: 10px;
	margin-right: 10px;
}
.adaptive_media{
	display: column;
}
.adaptive_media p{
	display: block;
	margin-left: 20px;
	font-size: 1.2rem
}
/*Блок с плитками*/
.blockbox_container{
	margin-top: 80px;
	width: 100%;
	margin-bottom: -40px;
}
.blockbox{
	width: 100%;
	display: flex;
	margin:0 auto;
	flex-wrap: wrap;
	margin-top: 60px;
}
.technology_box{
	width: 33.3%;
	height:300px;
   outline-offset: -2px;
}
.feature_box1{
	width: 100%;
	height:300px;
	text-align: center;
}
.feature_box2{
	width: 100%;
	height:300px;
	text-align: center;
	background-color:#218A1E;
}
.feature_box1 img{
	margin-top: 75px;
}
.feature_box2 img{
	margin-top: 75px;
}
.feature_box2>.feature_title{
	color: white
}
.feature_box2>p{
	color:white;
}
.feature_title{
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #218A1E;
}
.feature_p{
	font-size: 1.25rem;
}
/*Прогрес бары*/
.content_progress{
	width:100%;
	height: 500px;
	background-image: url(../img/backgroundbar.jpg);
	border-top: 3px solid #218A1E;
	border-bottom: 3px solid #218A1E;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 75px;
}
.content_progress_title>h3{
	color:white;
	margin: 0 auto;
}
.content_progress_title{
	text-align: center;
	margin-top: 40px;
}
.skills_box{
	width: 100%;
	height:auto;
	display: inline-flex;
	margin-top: 50px;
	justify-content: space-between;
}
.circle_box{
	width:33%;
	height: 400px;
	color:white;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.circle_box>h4{
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 15px;
}
.bg-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.counter {
  display: inline-flex;
  cursor:auto;
  width:175px;
  height:175px;
  max-width:100%;
  position:relative;
  justify-content:center;
  align-items:center;
  font-size: 25px;
  font-weight: 300;
  transition: height .2s ease-in-out;
  border-radius:50%;
}
@media (max-width: 1200px) {
	.counter{
	width:125px;
  	height:125px;
}
.circle_box{
	width:33%;
	height: 400px;
	color:white;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.content_progress{
	height: 450px;
}
.content_progress> .container{
	width:100%!important;
	margin: 0 auto;
	padding: 0;
}}
@media (min-width:2001px){
	.container_progress{
		width:60%;
		padding-left:20%;
		padding-right:20%;
		float:left
	}}
@media (max-width:2000px) and (min-width:1760px){
	.container_progress{
		width:62%;
		margin: 0 auto;
	}}
@media (max-width:1759px) and (min-width:1501px){
	.container_progress{
		width:72%;
		margin: 0 auto;
	}}
@media (max-width:1500px){
	.container_progress{
		width:80%;
		margin: 0 auto;
	}}
.percentage {
  position:absolute;
  text-align:center;
  top:50%;
  left:0;
  right:0;
  vertical-align:middle;
  transform:translate3d(0,-50%,0);
}
canvas {
  position:absolute;
  top:0;
  left:0;
}

body {
  text-align:center;
}
/*БЛОК ПОЧЕМУ ВЫБИРАЮТ МЕНЯ*/
.why_choose_me{
	max-width: 100%;
	margin: 0 auto;
	height: auto;
}
.why_choose_me_title{
	text-align: center;
	margin-bottom: 40px;
}
.why_choose_me_title>p{
	font-size: 1.2rem;
	margin-top: -10px;
	margin-bottom: 40px;
}
.why_choose_me_box{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 40px;
}
.why_choose_me_item{
	width: 23%;
	height:150px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}
@media(max-width: 767px){
	.why_choose_me_item{
		width:40%;
		margin: 10px;
	}
}
.why_choose_me_item>span{
	text-transform: uppercase;
	font-size: 1.25rem;
	color:black;
	margin-top: 40px;
}
.why_choose_me_item>.fas{
	font-family: Fontawesome, sans-serif;
	font-style: normal;
	font-size: 4rem;
	color:#218A1E;
	transition: all 0.3s ease 0s;	
}
.why_choose_me_item>.far{
	font-family: Fontawesome, sans-serif;
	font-style: normal;
	font-size: 4rem;
	color:#218A1E;
	transition: all 0.3s ease 0s;	
}
.why_choose_me_item>.fas:hover{
	font-size: 5rem;
	transition: all 0.3s ease 0s;
	color:#134D13;	
}
.why_choose_me_item>.far:hover{
	font-size: 5rem;
	transition: all 0.3s ease 0s;
	color:#134D13;		
}
/*Стиль для последнего блока*/
.order{
	margin-top: 30px;
	width: 100%;
	height: auto;
}
.order_title{
	text-align: center;
}
.order_title>p{
	font-size: 1.25rem;
}
.order_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}
.order_contacts{
	width:40%;
	height: 400px;
	text-align: left;
	margin-top: 50px;
}
.order_contacts>p{
	font-size: 1.25rem;
	line-height: 1.5;
	margin-top: 20px;
}
.contacts{
	text-transform: uppercase;
	font-size: 1.5rem;

}
.contact_social{
	margin-top: 50px;
	display: inline-flex;
}
.contact_social_right{
	display: table-cell;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: -15px;
}
.contact_social_right>span{
	display: block;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.contact_social_right>p{
	display: block;
	margin-bottom: 10px;
}
.contact_social a{
	color:black;
}
.contact_social a:hover{
	color:#218A1E;
}
.order_form_box{
	width:60%;
	height: 400px;
	background-color: white;
	margin-top: 50px;
}
.contact_social .fab,.far{
	font-family: Fontawesome, sans-serif;
	font-size: 4rem;
	font-style: normal;
	color:#218A1E;
	margin-top: 0px;
}
.contact_social .fab:hover, .far:hover{
	transition: all 0.3s ease 0s;
	color:#134D13;	
}
/*Стили для формы*/
.form-container{
	padding-left:10%;
	width:80%;
	margin:0 auto;
	font-family: Montserrat, sans-serif;
}
input{
	width: 100%;
	height: 40px;
	font-size: 1.5rem;
	margin-bottom: 20px;
	border: 3px transparent;
	border-bottom: 3px solid black;
}
.form-container__btn{
	width:40%;
	background-color: white;
	height: 50px;
	border: 3px solid black;
	margin-top: 10px;
	transition: all 0.5s;
}
.form-container__btn:hover{
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(33, 138, 30, 0.9) 0 0px 0px 40px inset;
	transition: all 0.5s;
	border:3px solid #218A1E;
}
.fields{
	margin:0 auto;
}
textarea{
	margin-left:-2px;
	resize: none;
	width:100%;
	height:150px;
	font-size: 1.5rem;
	font-family: Montserrat, sans-serif;
	border: 3px solid black;
}
.contact_social_right>a{
	color:#218A1E;
}
.contact_social_box{
	display: flex;
	flex-direction: column;
}
/*.note{
	z-index: 5;
	background-color: white;
	border:2px dashed #218A1E;
	height:400px;
	width:100%;
}*/
@media(max-width: 871px){
	.order_container{
		flex-direction: column;
		margin:0 auto;
	}
	.order_title>p{
		margin-bottom: 30px;
	}
	.order_contacts>p{
		float: left;
		display: block;
		width: 80%;
		text-align: left;
	}
	.order_contacts>span{
		margin-bottom: 10px;
		margin-top: 20px;
	}
	.order_contacts{
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
		width:100%;
	}
	.contact_social_box{
		width: 20%;
	}
	.contact_social_right{
		text-align: left;
	}
	.contact_social_left{
		float: left;
	}
	.form-container{
	width:80%;
	margin:0 auto;
	padding:0;
	font-family: Montserrat, sans-serif;
	}
	input{
		font-size: 1.2rem;
	}
	textarea{
		font-size: 1.2rem;
	}
	.order_form_box{
		width:100%;
	}
}
/*Стили для Футера*/
footer{
	width: 100%;
	height:auto;
	background-image: url(../img/backgroundfooter.jpg);
	justify-content: space-between;
	display: flex;
	flex-flow: row;
}
/*ЛОГО*/
.footer_first{
	color: white;
	height:auto;
	width:32%;
	margin-top: 10px;
	text-align: left;
	margin-bottom: 30px;
}
.footer_first_span{
	width:100%;
	text-align: left;
	font-size: 2rem;
	line-height: 1;
	margin-bottom: 10px;
	color:#218A1E;
}
.footer_first_p{
	font-size: 1rem;
}
/*НАВИГАЦИЯ*/
.footer_second{
	color: white;
	height:auto;
	width:16%;
	height:auto;
	margin-top: 10px;
}
.navigation_list{
	display: flex;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.navigation_list>h4{
	font-weight: 500;
	color:#218A1E;
	margin-bottom: 10px;
	font-size: 1rem;
}
.navigation_item{
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
}
.navigation_list li{
	list-style: none;
}
/*КОНТАКТЫ*/
.footer_third{
	color: white;
	height:auto;
	width:29%;
	height:200px;
	margin-top: 10px;
}
.footer_contacts{
	width:100%;
	height:auto;
	text-align: left;
}
.footer_contacts>span{
	font-weight: 500;
	color:#218A1E;
	font-size: 1rem;
}
.footer_social{
	margin-top: 20px;
	display: inline-flex;
}
.footer_social_left{
	padding-top: 10px;
}
.footer_social_left .far{
	font-family: Fontawesome, sans-serif;
	font-size: 2rem;
	font-style: normal;
	margin-top: 10px;
	color:#218A1E;
}
.footer_social_left .fab{
	font-family: Fontawesome, sans-serif;
	font-size: 2rem;
	font-style: normal;
	margin-top: 10px;
	color:#218A1E;
}
.footer_social:last-child{
	margin-top: 20px;
}
.footer_social_right{
	display: table-cell;
	margin-left: 20px;
}
.footer_social_right>span{
	margin-bottom: 0px;
	display: block;
}
.footer_social_right>p{
	margin-bottom: 0px;
	display: block;
}
/*АДАПТИВ ДЛЯ ФУТЕРА*/
@media(max-width: 871px){
	.container{
		margin:0 auto;
	}
	.footer_first{
		width: 100%;
		margin: 0 auto;
		margin-top: 20px;
		height: auto;
		margin-bottom: 30px;
	}
	.footer_first_span{
		text-align: center;
	}
	.footer_first_p{
		text-align: center;
	}
	.footer_second{
		width: 90%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.navigation_list>h4{
		font-size: 1.5rem;
	}
	.navigation_list>li{
		margin-top: 5px;
	}
	.navigation_item{
		font-size: 1.25rem;
	}
	.footer_third{
		width: 90%;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.footer_contacts{
		text-align: center;
	}
	.footer_social_box{
		display: flex;
		flex-direction: column;
	}
	.footer_social_left{display: none; visibility: hidden;}
	.footer_social_right{
		margin-left: 0px;
	}
	.footer_social{
		text-align: center;
		justify-content: center;
	}
	.footer_social_right>span{
		color:#218A1E;
	}
	footer{
	height:auto;
	display: flex;
	flex-direction: column;
	}

}
/*Стиль для страницы ABOUT ME*/
.about_me{
	padding-top: 50px;
	width: 100%;
	height: auto;
	color:white;
}
.about_me>p{
	text-align: left;
	font-size: 1.5rem;
	line-height: 1.5;
	margin-top:10px;
}
.content_about{
	width:100%;
	background-image: url(../img/background2.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	height:auto;
	padding-top:100px;
	background-size: cover;
	padding-bottom: 0px;
}
.about_me>img{
	margin-top: 40px;
	max-width: 40%;
}
@media(max-width: 767px){
	.about_me{
		padding-top: 0px;
	}
	.content_about{
	height: auto;
	padding-bottom: 40px;
	}
	.about_me>img{
	margin-top: 20px;
	max-width: 70%;
}
}
/*Стиль для страницы Portfolio*/
.portfolio{
	padding-top: 50px;
	width: 100%;
	height: auto;
	color:white;
}
.portfolio>h3:before{
	width:160px;
}
.portfolio_block_box{
	display: flex;
	justify-content: space-between;
	height: auto;
	width: 100%;
	flex-wrap: wrap;
	padding-bottom: 40px;
}
.portfolio_block_box>a>span{
	position: relative;
	top: 50%;
	left: 0;
	width: 100%;
	height: 100%;
}

.portfolio_block_box>a:hover{
	color:#218A1E;
}
.portfolio_block{
	width:100%;
	display: inline-flex;
	height: 0;
	padding-bottom:56.5%;
	margin-bottom: 20px;
	border: 2px solid #218A1E;
	-webkit-box-shadow: inset 0px 0px 300px 59px rgba(0,0,0,0.99);
	-moz-box-shadow: inset 0px 0px 300px 59px rgba(0,0,0,0.99);
	box-shadow: inset 0px 0px 300px 59px rgba(0,0,0,0.99);
	transition: all.2s ease-out;
}
#borntocode{
	-webkit-box-shadow: inset 0px 0px 300px 100px rgba(0,0,0,0.99)!important;
	-moz-box-shadow: inset 0px 0px 300px 100px rgba(0,0,0,0.99)!important;
	box-shadow: inset 0px 0px 300px 100px rgba(0,0,0,0.99)!important;
}
.portfolio_block:hover{
	-webkit-box-shadow: inset 0px 0px 300px 100px rgba(0,0,0,0.99);
	-moz-box-shadow: inset 0px 0px 300px 100px rgba(0,0,0,0.99);
	box-shadow: inset 0px 0px 300px 100px rgba(0,0,0,0.99);
	transition: all.2s ease-out;
}
.portfolio_block>a>span:hover{
	-webkit-box-shadow: 0px 0px 300px 100px rgba(0,0,0,0.99);
	-moz-box-shadow: 0px 0px 300px 100px rgba(0,0,0,0.99);
	box-shadow: 0px 0px 300px 100px rgba(0,0,0,0.99);
	transition: all.2s ease-out;
}
.portfolio_block_box>a{
	width:49%;
	height: auto;
	font-size: 2rem;
	color: rgba(255,255,255,1);
	transition: all.2s ease-out;
}
#kkt66{
	background-image: url(../img/kkt66.png);
	background-size: cover;
}
#borntocode{
	background-image: url(../img/borntocode.png);
	background-size: cover;
}
#ekapresent{
	background-image: url(../img/ekapresent.png);
	background-size: cover;
}
.portfolio_block>img{
	max-width: 100%;
}
@media (max-width: 768px){
	.portfolio_block_box>a{
		width: 90%;
		margin: 0 auto;
		margin-bottom: 40px;
	}

}